.ImgSection {
    max-width: 1200px;
    margin: 25px auto;
}

.Img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* media query */
/* screen < 1024 px */
@media screen and (max-width: 1024px) {
    .homeTitle {
        font-size: 1.5rem;
    }
}