.mainArticle {
    max-width: 900px;
    margin: 50px auto 100px;
    padding: 25px 50px 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.description {
    float: right;
    margin-top: 0;
    font-size: 1rem;
    color: #9a918c;
}

.mainArticle p,
.mainArticle h1,
.mainArticle h2,
.mainArticle h3 {
    color: black;
}

.mainArticle h1 {
    font-size: 2rem;
    max-width: 800px;
}

.mainArticle h2 {
    margin: 50px auto;
    font-size: 1.8rem;
}

.mainArticle h1,
.mainArticle h2,
.mainArticle h3 {
    font-family: "Futura PT bold", serif;
}

.mainArticle p {
    font-family: "Futura PT regular", serif;
    font-size: 1.3rem;
}

.picArticle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.publish {
    color: #9a918c;
    font-size: 0.9rem;
    border-top: 1px solid #9a918c;
    padding-top: 10px;
}

@media screen and (max-width: 640px) {
    .mainArticle {
        padding: 10px 20px 30px;
    }
}