header a, header p {
    color: black;
    font-size: 1rem;
}

header {
    background-color: #fff;
    max-width: 2000px;
    margin: 0 auto;
}

nav,
header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    list-style: none;
    min-height: 70px;
    margin: 0 auto;
    padding: 0;
}

header ul li {
    margin: auto 25px;
}

.homePage {
    font-weight: 700;
    font-size: 2rem;
}

.headerCenter {
    font-weight: 700;
}

.boxBorder:hover {
    background-color: #fab131;
    color: #fff;
    padding: 10px;
    margin: -10px;
    border-radius: 5px;
}

.activeLink {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin: -10px;
    border-radius: 5px;
}

.headerRight p {
    font-weight: 700;
}

.burgerBtn {
    display: none;
}

/* media */
/* NAV - screen < 640 px */
@media screen and (max-width: 640px) {
    .headerLeft, .burgerBtn {
        margin: 0 20px;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    header ul {
        display: none;
    }

    .headerCenter, .headerRight {
        display: none;
    }

    .burgerBtn {
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .headerRight {
        display: none;
    }
}