/* .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url(../../public/images/cat1.jpg);
} */

.pictureWrap {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.marginTop {
    margin-top: auto;
    padding: 15px;
}