footer a {
    color: #f1f1f1;
}

.sectionСolumns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    color: #24305e;
    width: 100%;
    max-width: 1200px;
    min-height: 50px;
}


/* for gray sectionField */
.fourColumns {
    display: flex;
    flex-direction: column;
}

.boldStyle {
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 10px 0 10px;
}

.sectionField {
    background-color: #374785;
}


/* for black footerFlex */
.footerFlex,
.footerLeft,
.footerCenter ul,
.footerRight ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #252839;
    margin: 0;
    padding: 0;
}

.footerFlex li,
footer li {
    list-style: none;
    margin: 25px 10px;
}

.sectionСolumns ul {
    margin: 0;
    padding: 0;
}


/* media */
/* screen > 640 px */
@media screen and (max-width: 1024px) {
    .sectionСolumns {
        flex-direction: column;
        align-items: center;
    }

    .sectionСolumns ul {
        display: flex;
        flex-direction: row;
    }

    .boldStyle {
        margin: 25px auto 0;
    }
}