.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto;
}

.home {
    display: grid;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 5px;
}


p,
title,
h2,
h3 {
    color: #fff;
}

.hidden {
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.pictureWrap:hover .hidden {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    background-color: #000;
    color: #fab131;
    margin: -10px -10px -10px 0;
    padding: 10px;
}

.pictureWrap:hover .colorBlock {
    background-color: #fab131;
    opacity: 0.9;
    filter: brightness(90%);
}

.pictureWrap:hover h2, .pictureWrap:hover h3 {
    color: #000;
}

.pictureWrap > div:hover {
    filter: brightness(135%);
}


/* media query */
/* screen > 640 px */
@media screen and (min-width: 640px) {
    .home {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(300px, auto) minmax(300px, auto) minmax(300px, auto);
        margin: auto;
    }

    .pictureWrap:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .pictureWrap:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .pictureWrap:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    .pictureWrap:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .pictureWrap:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    }

    .pictureWrap:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
    }
}

/* screen > 1024 px */
@media screen and (min-width: 1024px) {
    .home {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(300px, auto) minmax(300px, auto) minmax(300px, auto);
        margin: auto;
    }

    .pictureWrap:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .pictureWrap:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .pictureWrap:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }

    .pictureWrap:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }

    .pictureWrap:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
    }

    .pictureWrap:nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    }
}