@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/Roboto-Medium.ttf);
}

.App {
  font-family: 'roboto';
  /* font-size: ; */
  background-color: #f1f1f1;
}