@font-face {
    font-family: 'Proxima Nova Semibold';
    font-style: normal;
    font-weight: 600;
    src: url(./fonts/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/SofiaPro/SofiaProRegular.ttf);
}

.App {
    font-family: 'Proxima Nova Semibold', 'Sofia Pro', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: #a8d0e6;
}