@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/SofiaPro/SofiaProRegular.ttf);
}

.App {
    font-family: 'Sofia Pro';
    font-size: 1.1rem;
    background-color: #a8d0e6;
}